name: Build/Release Electron App

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    # 暂时只跑 Windows，因为 Windows 环境最宽容
    runs-on: windows-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm install --legacy-peer-deps

      - name: Next.js Export
        run: npm run build
        env:
          NEXT_PUBLIC_GROQ_API_KEY: ${{ secrets.GROQ_API_KEY }}

      - name: Build Electron App
        uses: samuelmeuli/action-electron-builder@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # 设为 true，它会自动创建 Release 页面并上传文件
          release: true
